html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    text-align: left;
}

.header {
    background: darkblue repeat bottom;
    margin-bottom: 1%;
    padding-bottom: 1%;
    
}

title {
    font-family: 'Montserrat', bold;
    font-size: 1.2em;
    margin: auto;
    padding: 10px 0 15px 0;
}