html, body, .page {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    text-align: left;
    font-family: 'Montserrat', bold;
    font-size: 1.2em;
    margin: auto;
}

.header {
    background: darkblue repeat bottom;
    margin-bottom: 1%;
    padding-bottom: 1%;
    color: white;
    
}

.title {
    padding: 15px 10px 15px 10px;
    text-align: center;
}

table {
    padding: 1% 1% ;
}

ul {
  list-style: none;
  font-size: 1em;
}

img {
    width: 250px;
    height: 200px;    
}