body {
    background-color: lightblue;
    text-align: left;
    font-family: 'Montserrat', bold;
    font-size: 1.2em;
    margin: auto;

}

.header {
    background: darkblue repeat bottom;
    margin-bottom: 1%;
    padding-bottom: 1%;
    color: white;
    
}

.title {
    padding: 15px 10px 15px 10px;
    text-align: center;
}

table {
    padding: 1% 1% ;
}

ul {
  list-style-type: none; 
  font-size: 1em;
}

a {
    text-decoration: none;
    color: white; 
    
}


ul, a:hover {
    color: lightblue;
}

img {
    width: 250px;
    height: 200px;    
}

td {
    padding: 0 1% 0 1%;
}

.page {
    height: 100%;
}